Flask==1.1.2
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.3
Jinja2==2.11.2
PyMySQL==0.10.0
SQLAlchemy==1.2.0
SQLAlchemy-Utils==0.36.6
WTForms==2.3.3
WTForms-Components==0.9.7