{% extends 'layout.html' %}

{% block body %}

<div class="header"></div>
<div class="container page_not_found">
	<div class="container_inner">
		<div class="text-center pt-5">
			<h2> The page you are looking for is not found </h2>
			<p> The page you are looking for does not exist. It may have been moved, or removed altogether. <br>Perhaps you can return back to the site's homepage and see if you can find what you are looking for. </p>
			<div class="separator  transparent center  " style="margin-top:35px;"></div>
			<p><a itemprop="url" class="qbutton with-shadow" href="/"> Back to homepage </a></p>
			<div class="separator  transparent center  " style="margin-top:35px;"></div>
		</div>
	</div>
</div>

{% endblock %}