{% extends 'layout.html' %}
{% set active_page = "contact" %}

{% block body %}
<!-- Start Header -->
<div class="con-header">
  <div class="con-box">
    <div class="heading text-center mb-4">CONTACT US</div>
    <div class="sep">&nbsp;</div>
  </div>
</div>
<!-- End Header --> 
<!-- Start Text Area -->
<div class="container">
  <div class="condetail text-center">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="row justify-content-center">
          <div class="col-8 col-md-4 borr">
            <div class="conbx">
              <div class="con-icon mb-0 mb-md-3"><i class="fas fa-home"></i></div>
              <div class="con-head mb-2 mb-md-3">Our Address</div>
              <div class="con-desc">Unit 13, Northern Cross Business Park, 11, Finglas North, Dublin, D11 F726</div>
            </div>
          </div>
          <div class="col-8 col-md-4 borr">
            <div class="conbx">
              <div class="con-icon mb-0 mb-md-3"><i class="fas fa-phone"></i></div>
              <div class="con-head mb-2 mb-md-3">CALL US</div>
              <div class="con-desc">+353 1 269 5031</div>
            </div>
          </div>
          <div class="col-8 col-md-4">
            <div class="conbx">
              <div class="con-icon mb-0 mb-md-3"><i class="far fa-envelope"></i></div>
              <div class="con-head mb-2 mb-md-3">EMAIL US US</div>
              <div class="con-desc">info@universalfloral.com</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="conmap">
    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Unit%2013%2C%20Northern%20Cross%20Business%20Park%2C%2011%2C%20Finglas%20North%2C%20Dublin%2C%20D11%20F726%E2%80%8B%E2%80%8B&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" title="Unit 13, Northern Cross Business Park, 11, Finglas North, Dublin, D11 F726&#8203;&#8203;" aria-label="Unit 13, Northern Cross Business Park, 11, Finglas North, Dublin, D11 F726&#8203;&#8203;"></iframe>
  </div>
</div>
<!-- End Text Area --> 

{% endblock %}