{% extends 'layout.html' %}

{% block body %}

<!-- Start Header -->
<div class="header marb30">
  <div class="headerbg">
    <div class="slide-inner">
      <div class="slide-heading animate__animated animate__fadeInUp">Premier Corporate Plant Rental &amp; Maintenance Service</div>
      <div class="slide-description animate__animated animate__fadeInUp">WORKING IN A GREEN OFFICE IN EUROPE</div>
    </div>
    <div class="imagebx"><img src="{{ url_for('static', filename='img/home.jpeg') }}" alt=""></div>
  </div>
</div>
<!-- End Header --> 
<!-- Start Recent Project -->
<div class="recent-project text-center">
  <div class="heading-title">Recent Projects</div>
  <div class="recent-gallery">
    <div class="gallery-slider">
      <div><img src="{{ url_for('static', filename='img/projects/stripe-2-450x338-1.jpg') }}" alt="" /></div>
      <div><img src="{{ url_for('static', filename='img/projects/slack-5-450x338-1.jpg') }}" alt="" /></div>
      <div><img src="{{ url_for('static', filename='img/projects/IMG_4208-e1456850429707-450x338-1.jpg') }}" alt="" /></div>
      <div><img src="{{ url_for('static', filename='img/projects/XL-Insurance-4-450x338-1.jpg') }}" alt="" /></div>
	  </div>
  </div>
</div>
<!-- End Recent Project --> 

{% include 'includes/our_client.html' %}

<!-- Start Get in Touch -->
<div class="get-touch">
  <div class="container">
    <div class="heading-title text-center">Get in Touch</div>
    <div class="row">
      <div class="col-12 col-md-6 mb-2">
        <div class="call mb-1">Phone: +353 1 269 5031</div>
        <div class="email mb-3"><strong>Email: info@universalfloral.com</strong></div>
        <div class="address">Unit 13, Northern Cross Business Park, 11, Finglas North, Dublin, D11 F726 </div>
      </div>
      <div class="col-12 col-md-6 mt-sm-3">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Message" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Get in Touch -->

{% endblock %}