/* Custom CSS for Diabeato Project */

body {
	font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 15px;
    font-weight: 400;
}

.img-fluid {
    max-width: 100% !important;
    height: auto;
}

.form-control:focus {
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto', sans-serif;
}
a{color: #848484;}
a:hover{color: #318890; text-decoration: none;}
.transitions{transition: all 0.2s;}
.navbar-light.navbar {padding: 7px 50px 6px 70px;}
.navbar-light .navbar-nav .nav-item {padding: 0 26px;}
.navbar-light .navbar-nav .nav-link {color: #333333;font-family: 'Roboto', sans-serif;font-size: 16px;font-style: normal;font-weight: 500;letter-spacing: 0px;text-transform: none;padding: 0px;transition: all 0.2s;}
.navbar-light .navbar-nav .nav-item .nav-link:hover{color: #318890;}
.navbar-light .navbar-nav .nav-item.active .nav-link{color: #318890;}
.navbar-light .navbar-toggler{border: none; outline: none; color: #000;}
.navbar-toggler-icon {width: 1.3em; height: 1.3em;}
.header{padding: 10px;}
.headerbg{height: 400px; position: relative; width: 100%; overflow: hidden;}
.headerbg::before{width: 100%; height: 100%; width: 100%; background-color: rgba(0,0,0,0.5); content:" "; position: absolute; top:0px; left: 0px; z-index: 1;}
.imagebx{width: 100%; position: absolute; top: 50%; transform: translateY(-50%); z-index: 0;}
.imagebx img{width: 100%;}
.slide-inner {text-align: center;width: 100%; position: absolute; top: 50%; transform: translateY(-50%); z-index: 9; color: #fff; padding: 10px 20px; box-sizing: border-box;}
.slide-heading{font-size: 35px;font-weight: 700; line-height: 1; margin-bottom: 30px;font-family: 'Roboto', sans-serif;}
.slide-description {font-size: 17px;line-height: 1.4;font-family: 'Roboto Slab', serif;}
.marb50{margin-bottom: 50px;}
.heading-title {color: #000000; font-size: 55px; font-weight: 600;font-family: 'Roboto', sans-serif; margin-bottom: 35px;}
.our-client{background: #ECECEC; padding: 30px 0px 35px 0px;}
.logobx{padding: 24px;}
.logobx img{max-width: 80%;}
.logobx:hover{box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.16);}
.container.big{max-width: 1300px;}
.get-touch{padding: 40px 0px; font-size: 16px;}
.form-control{border-radius: 0px; padding: 5px 14px; margin-bottom: 20px;}
.btn{text-transform: uppercase; padding: 11px 35px; border: none; border-radius: 0px; font-weight: 600; font-size: 15px; outline: none;}
.btn.btn-primary{background: #000; color: #fff;}
.btn.btn-primary:hover{background: #00ce1b; color: #fff;}
.footer{padding: 10px 0px; background: #92bf00;}
.foot-link{color: #fff; text-decoration: none;}
.foot-link:hover{color: #eeee22; text-decoration: none;}

/*--- About Page CSS */
.headerinner{padding: 30px 0px; background: #92bf00;}
.h1-title{font-size: 40px; color: #fff; font-weight: bold;}
.bighead > img{width: 100%;}
.textbx{color: #848484; padding: 30px 0px; line-height: 26px;} 
.textbx ul{padding-left: 17px; margin-bottom: 35px;}
.textbx h3{font-size: 20px;}
.membx{padding: 0px 30px;}
.ourteam{padding: 60px 0px; color: #848484; line-height: 26px;}
.name{color: #000000;font-size: 35px;font-weight: 900;}
.position{text-transform: uppercase;letter-spacing: 5px; font-weight: 300; color: #bfbfbf;}
.social a{color: #000; font-size: 18px; margin: 0px 15px;}
.social a:hover{color: #1ad332;}	
	
/*--- Responsive CSS */	
@media (max-width: 1199px) { 
.navbar-light .navbar-nav .nav-item { padding-left: 15px; padding-right: 15px;}
.heading-title {font-size: 45px;}
.navbar {padding:10px 10px 0px 30px;}
}
@media (max-width: 991px) { 
.navbar{background: #fcfaf6;}
.navbar-light.navbar {padding-left: 15px;}
.navbar-brand{margin: auto;}
.navbar-light .navbar-nav .nav-item { padding-top: 10px; padding-bottom: 15px;}
.membx {padding: 0px;}
.name {font-size: 30px;}
}
@media (max-width: 767px) { 
.slide-heading {font-size: 25px;}
.slide-description {font-size: 14px;}
.logobx img {max-width: 60%;}
.h1-title {font-size: 30px;}
.membx{padding-bottom: 30px;}
}
@media (max-width: 575px) { 
.navbar-light.navbar {padding-left: 0px;}
.headerbg {height: 250px;}
.logobx { padding-top: 10px; padding-bottom: 10px;}
}

