{% 
  set default_clients = [
    ('GrantT.png', 'GrantT'),
    ('IBM.png', 'IBM'),
    ('ID.png', 'ID'),
    ('Intel.png', 'Intel'),
    ('Sisk.png', 'Sisk'),
    ('SL.png', 'SL'),
    ('Symnatec.png', 'Symnatec'),
    ('UPS.png', 'UPS')
  ]
-%}
{% set clients = clients|default(default_clients) -%}
<div class="our-client text-center">
    <div class="container big">
      <div class="heading-title">Our Clients</div>
      <div class="row">
        {% for src, id in clients %}
          <div class="col-12 col-md-3">
            <div class="logobx mb-3">
              {% set img_src = "static/img/"+src %}
              <img src="{{ img_src }}" alt="{{ id }}">
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>