<!-- Start Our Client -->
<div class="our-client text-center">
    <div class="container big">
      <div class="heading-title">Our Clients</div>
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="logobx mb-3"><img src="{{ url_for('static', filename='img/GrantT.png') }}" alt="GrantT"></div>
        </div>
        <div class="col-12 col-md-3">
          <div class="logobx mb-3"><img src="{{ url_for('static', filename='img/IBM.png') }}" alt="IBM"></div>
        </div>
        <div class="col-12 col-md-3">
          <div class="logobx mb-3"><img src="{{ url_for('static', filename='img/ID.png') }}" alt="ID"></div>
        </div>
        <div class="col-12 col-md-3">
          <div class="logobx mb-3"><img src="{{ url_for('static', filename='img/intel.png') }}" alt="Intel"></div>
        </div>
        <div class="col-12 col-md-3">
          <div class="logobx mb-3"><img src="{{ url_for('static', filename='img/Sisk.png') }}" alt="Sisk"></div>
        </div>
        <div class="col-12 col-md-3">
          <div class="logobx mb-3"><img src="{{ url_for('static', filename='img/SL.png') }}" alt="SL"></div>
        </div>
        <div class="col-12 col-md-3">
          <div class="logobx mb-3"><img src="{{ url_for('static', filename='img/Symnatec.png') }}" alt="Symnatec"></div>
        </div>
        <div class="col-12 col-md-3">
          <div class="logobx mb-3"><img src="{{ url_for('static', filename='img/UPS.png') }}" alt="UPS"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Our Client -->